<form class="card-creation-form" [formGroup]="cardForm">
  <h3>Create card</h3>
  <input
    type="text"
    placeholder="Enter card title"
    formControlName="title"
  />
  <yt-validation-errors formControlName="title" />
  <input
    type="text"
    placeholder="Enter card description (optional)"
    formControlName="description"
  />
  <yt-validation-errors formControlName="description" />
  <input
    type="text"
    placeholder="Enter card image link"
    formControlName="imageLink"
  />
  <yt-validation-errors formControlName="imageLink" />
  <input
    type="date"
    placeholder="Enter video creation date"
    formControlName="createdAt"
  />
  <yt-validation-errors formControlName="createdAt" />
  <input
    type="text"
    placeholder="Enter video link"
    formControlName="videoLink"
  />
  <yt-validation-errors formControlName="videoLink" />
  <yt-button
    ariaLabel="Create card"
    type="submit"
    [disabled]="cardForm.invalid"
    >Create</yt-button
  >
</form>
