<div class="login-page">
  <form
    class="login"
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()"
  >
    <h2>Login</h2>
    <input
      type="email"
      placeholder="email"
      formControlName="email"
    />
    <yt-validation-errors formControlName="email" />
    <input
      type="password"
      placeholder="password"
      formControlName="password"
    />
    <yt-validation-errors formControlName="password" />
    <yt-button
      ariaLabel="Login"
      type="submit"
      [disabled]="loginForm.status === 'INVALID'"
      >Login</yt-button
    >
  </form>
</div>
