.youtube-video {
  border: var(--color-light-grey-600) solid 2px;
  // box-shadow: pink 10px 5px 100px;
  padding: 10px 10px;

  .video-statistics {
    display: flex;
    flex-direction: column;

    span {
      margin-top: 5px;
      text-transform: capitalize;
    }
  }
}
