<figure
  class="youtube-video"
  [ytColoredBorder]="snippet().publishedAt"
>
  <div>
    <img
      [src]="smallThumbnail().url"
      alt="Video Thumbnail"
      [width]="smallThumbnail().width"
      [height]="smallThumbnail().height"
    />
    <h4>{{ snippet().title }}</h4>
  </div>
  <yt-video-statistics [statistics]="item().statistics" />
  <div class="video-buttons">
    <yt-button
      ariaLabel="More button"
      (press)="navigateToDetailedPage()"
      >more</yt-button
    >
    <yt-favorite-button [id]="id()" />
  </div>
</figure>
