.youtube-video {
  border: var(--color-light-grey-600) solid 2px;
  padding: 10px 10px;
  max-width: 263px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  background-color: magenta;

  .video-statistics {
    display: flex;
    flex-direction: column;

    span {
      margin-top: 5px;
      text-transform: capitalize;
    }
  }
}
