<!-- TODO: Break this into smaller components -->
<header class="youtube-header">
  <yt-button
    type="unstyled"
    aria-label="Goto main page"
    (press)="navigateToMainPage()"
  >
    <img
      ngSrc="/logo.webp"
      alt="youtube logo"
      width="50"
      height="50"
      class="logo"
      priority
    />
  </yt-button>
  <div class="youtube-header-search">
    <input
      id="search-input"
      type="text"
      placeholder="Enter a request"
      [formControl]="searchString"
    />
  </div>
  <div>
    <yt-button
      aria-label="open filters"
      type="unstyled"
      (press)="openFilters()"
    >
      <img
        ngSrc="/search_settings.webp"
        alt="parameters icon"
        width="24"
        height="24"
      />
    </yt-button>
    @if (isAuthorized()) {
      <yt-button aria-label="Logout" (press)="logout()"
        >Logout</yt-button
      >
    }
  </div>
  <yt-user-info />
</header>
