.youtube-button {
  border: none;
  outline: none;
  text-decoration: none;

  & .styled {
    background-color: var(--color-accent);
    color: var(--color-light-grey-900);
    padding: 0.5rem 1rem;
    text-align: center;
    display: inline-block;
    font-size: 1rem;
    margin: 0.25rem;
    cursor: pointer;
    border-radius: 4px;

    &:hover {
      background-color: var(--color-accent-darker);
    }
  }
}
